@import '../core/home.css';

main{
    height: 100%;
    /* background-color: red; */
}


.room-chat-contenedor{
    background: linear-gradient(to bottom right,     #7E9AFF,     #BAA3FF);
    max-width: 1000px;
    width: 60%;
    max-height: auto;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgba(14, 12, 12, 0.3);


}

.room-chat-title{
    position: relative;
    display: flex;
    padding: 10px;
    height: 90px ;
}



.room-chat-image{
    width: 67px;
    height: auto;
    border-radius: 10px;
}

.room-title{
    padding-top: 7px;
    margin-left: 16px;
    background-color: transparent;
}

.user-url-host{
    position: absolute;
    bottom: 0px;
    right: 16px;
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition:font-size 0.5s;
}

.bi-people{
    position: absolute;
    top: 10px;
    right: 16px;
    color: rgb(39, 39, 39);
    font-size: 25px;
    cursor: pointer;
}

.user-url-host:hover{
    font-size: 17px;
    color: black;
}

        
#room-chat-body-container{

    border: 3px solid rgb(68, 68, 68);
    border-radius: 25px 0px 0px 25px;

}


.room-chat-body{
    background-color: #ffffff;
    border-radius: 20px;

    padding: 10px;
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}


.container-message{
    max-width: 70%;
    margin: 5px 0px;
    
}

.container-message-1{
    text-align: right;
    margin-left: 33%;

}

.container-message-2{
    text-align: left;
    margin-right: 33%;

}

.message-1{
    background-color: #B8C8FF;
    color: black;
    display: inline-block;
    border: 1px solid #1f65a1;    
    padding: 0px 10px;
    border-radius: 8px;
    border-bottom-right-radius: 0;
}



.message-2{
    background-color: #BAA3FF;
    color: black;
    display: inline-block;
    border: 1px solid #1f65a1;
    padding: 0px 10px;
    border-radius: 8px;
    border-bottom-left-radius: 0;

}



.user-url-message{
    text-decoration: none;
    color: black;
    transition:font-size 0.3s;

}

.user-url-message:hover{
    font-size: 18px;

}


.chat-footer{
    margin-top: 15px;
    padding: 10px;
    max-height: 100px;
    border-radius: 5px;

}


#chat-message-input{
    border-radius: 10px;
    padding: 5px;
}

.send-message{
    max-width: 100%;

}

.boton-send{
    margin-left: 1px;
    margin-top: 3px;
    font-size: 22px;
    border: none;
    background-color: transparent;
}

/* users online */

.room-chat-users-container{
    display: inline-block;
    background-color: #BAA3FF;
    width: 17%;
    position: absolute;
    top: 35%;
    right: 30px;
    padding: 16px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 10px 0px 10px 2px rgba(14, 12, 12, 0.3);

}

.title{
    font-size: 20px;
}

.room-chat-users-list{
    list-style: none;
    padding-left: 16px;
    text-align: left;
}

@media screen and (max-width: 900px) {

    .room-chat-contenedor{
        background: linear-gradient(to bottom right,     #7E9AFF,     #BAA3FF);
        width: 100%;
        max-height: 800px;
        padding: 15px 30px;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 10px 10px 10px 2px rgba(14, 12, 12, 0.3);
    
    
    }
    

    .room-chat-title{
        display: block;
        height: auto ;
        text-align: center;
        /* background-color: red; */
        width: 100%;
    }

    .user-url-host{
        position: static;
        bottom: 0px;
        right: 16px;
        text-decoration: none;
        color: rgb(39, 39, 39);
        transition:font-size 0.5s;
    }
    
    .room-chat-users-container{
        display: none;
        background-color: #BAA3FF;
        width: 90%;
        position: absolute;
        top: 30%;
        right: 20px;
        padding: 16px;
        border-radius: 10px;
        text-align: left;
        box-shadow: 10px 0px 10px 2px rgba(14, 12, 12, 0.3);
    
    }

}