@import '../users/edit-perfil.css';

main{
    height: 80vh;
    padding: 24px;
}

.room-name{
    font-weight: bold;
}

.room-edit{
    margin: 0 auto;
    background-color: #7E9AFF;
    border-color: #174AFF;
    height: auto;
}

.container-content-info{
    border: none;
}

.content-info{
    background-color: #7E9AFF;
    /* border: 1px solid  #174AFF; */
}

#id_description{
    overflow-y: hidden;
    border-radius: 10px;
    padding: 8px;
}

#id_image{
    border: 2px solid #174AFF;

}

