@import '../users/perfil.css';

.perfil-edit{
    margin: 0 auto;
    margin-top: 24px;
}


.container-perfil-form-boton{

    text-align: center;
    padding: 16px 0px;
}

.container-content-info{
    height: auto;
}

.content-info{
    height: auto;
}
.form-edit{
    height: auto;
    padding-left: 0px;
}
.content-value input{
    border-radius: 10px;
    padding: 8px;
}


#id_bio{
    overflow-y: hidden;
    border-radius: 10px;
    padding: 8px;
}

#id_avatar{
    border: 2px solid #CB5BFF;
    
}

.edit-perfil-boton{
    background-color: #9EFF9E;
    border: 2px solid #409743;
    color: black;
    height: auto;
    transition: transform 0.5s ease;
}
