@import '../core/home.css';

/* PERFIL */

.container-mi-perfil{

    width: 1400px;
    max-height: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #c3c8ff;
    padding: 16px;

}

.container-mi-perfil-title{
    text-align: center;
    margin-bottom: 32px;
}

.container-edit-perfil{

}

.container-edit-perfil-datos{
    padding: 16px;
    text-align: left;
    border-radius: 10px;
    margin-right: 50px;
    background-color: #BAA3FF;
    border: 2px solid #CB5BFF;
    height: 800px;
    box-shadow: 10px 10px 10px 2px rgba(14, 12, 12, 0.3);

}

.container-perfil-datos-titulo{
    margin-bottom: 24px;

}

.container-content-info{
    padding: 16px;
    height: 600px;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.content-info{
    display: flex;
    flex-direction: column;
    background-color: #BAA3FF;
    border: 1px solid  #CB5BFF;
    margin: 16px;
    text-align: left;
    border-radius: 5px;
    padding: 8px 16px;
    min-height: 80px;
    max-height: 200px;
}


.content-key{
    color: rgb(58, 58, 58);
    font-size: 14px;
    margin: 0;
    height: 20px; /* Establece un ancho fijo */
}

.content-value{
    color: black;
    margin-top: 8px;
    margin-bottom: 0;
    border-radius: 50px;
}

.content-info-image{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    
}

.perfil-info-image{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #CB5BFF;
    transition: transform 0.5s;
}

.perfil-info-image:hover{
    border: 2px solid #a34acc;
    transform: scale(1.05);

}

.container-edit-boton{
    margin-top: 50px;
    text-align: center;
}


.boton-perfil-editar{
    background-color: #1a53ff;
    border: 2px solid #174AFF;

}
.boton-rooms-editar{
    color: black;
    background-color: #7DC2FF;
    border: 2px solid #6fa7e0;


}


.boton-rooms-crear-container{

    margin-left: 260px;
}

.boton-rooms-crear{

    background-color: #9EFF9E;
    border: 2px solid #409743;
    color: black;


    transition: transform 0.5s ease;
}


.boton-rooms-eliminar{
    color: black;
    background-color: #FF6666;
    border: 2px solid #cc3333;
}