@import '../core/home.css';

main{
    height: 100%;
    padding: 24px;
}

/* PERFIL */

.container-mi-perfil{

    width: 100%;
    margin: 0 auto;
    display: flex;
}

.container-datos{

    border-radius: 5px;
    height: 10%;
    width: 30%;
    margin-left: 5%;

    box-shadow: 10px 10px 10px 2px rgba(14, 12, 12, 0.3);
}

.perfil-edit{
    background-color: #BAA3FF;
}


.container-datos-titulo{
    padding: 8px 24px;

}

.container-content-info{
    margin: 0px 24px;
    padding: 24px;
    height: auto;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.content-info-image{
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.perfil-info-image{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #CB5BFF;
    transition: transform 0.5s;
}

.perfil-info-image:hover{
    border: 2px solid #a34acc;
    transform: scale(1.05);

}

.content-info{
    display: flex;
    flex-direction: column;
    background-color: #BAA3FF;
    /* border: 1px solid  #CB5BFF; */
    margin: 8px 0px;
    text-align: left;
    border-radius: 5px;
    padding: 8px 16px;
    min-height: 80px;
    max-height: 200px;
}

.content-key{
    color: rgb(58, 58, 58);
    font-size: 14px;
    margin: 0;
}

.content-value{
    color: black;
    margin-top: 8px;
    margin-bottom: 0;
}

#id_description{
    width: auto;
    height: auto;
}




.container-edit-boton{
    text-align: center;
    padding: 16px 0px;
}


.boton-perfil-editar{
    background-color: #081C63;
    border: 2px solid #081C63;

}
.boton-rooms-editar{
    color: white;
    background-color: #754AF6;
    border: 2px solid #754AF6;


}


.boton-rooms-crear-container{
    display: flex;
}

.boton-rooms-crear-container a{
    margin: 0 auto;
}

.boton-rooms-eliminar{
    color: #754AF6;
    background-color: white;
    border: 2px solid #754AF6;
}

.contenedor-perfil-rooms{
    width: 60%;
    padding-left: 20%;

}

.room-container{
    width: 100%;
}

.page-nums{

}