@import '../core/home.css';

/* PERFIL */

.container-mi-perfil{

    width: 1400px;
    max-height: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #6d79fa;
    padding: 16px;

}

.container-mi-perfil-title{
    text-align: center;
}

.container-edit-perfil{
    background-color: rgb(196, 197, 196);
}

.container-edit-perfil-datos{
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: #D987FF;
    border: 2px solid #CB5BFF;
    height: 800px;

}

.container-perfil-datos-titulo{
    margin-bottom: 24px;

}

.container-content-info{
    padding: 24px;
    height: 600px;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.content-info{
    display: flex;
    flex-direction: column;
    background-color: #D987FF;
    border: 1px solid  #CB5BFF;
    margin: 16px;
    text-align: left;
    border-radius: 5px;
    padding: 16px 16px;
    min-height: 80px;
    max-height: 200px;
}


.content-key{
    color: rgb(58, 58, 58);
    font-size: 14px;
    margin: 0;
    height: 20px; /* Establece un ancho fijo */
}

.content-value{
    color: black;
    margin-top: 8px;
}

.content-info-image{
    display: flex;
    border: 2px solid black;
    margin-left: 200px;
    margin-right: 222px;
    
}

.container-edit-boton{
    margin-top: 50px;
    text-align: center;
}


.boton-perfil-editar{
    background-color: #1a53ff;
    border: 2px solid #174AFF;

}
.boton-rooms-editar{
    background-color: #7DC2FF;
    border: 2px solid #6fa7e0;


}

.boton-rooms-eliminar{
    background-color: #ff4d4d;
    border: 2px solid #cc3333;
}