@import '../users/perfil.css';

.registro{
    background-color: #BAA3FF;
    width: 1080px;
    margin: 0 auto;
    display: flex;
    padding: 24px;
    height: 85vh;
    margin-top: 24px;
    
}

.registro-portada{
    width: 50%;

}

.portada{
    background-color: red;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.registro-form{
    width: 50%;
    margin-left: 0px;
    padding: 24px;
}


.content-info{

    background-color: red;
    margin: 16px;
    display: flex;
}

.content-value input{
    border-radius: 10px;
    padding: 8px;
}


.registro-form-boton{
    background-color: #1a53ff;
    border: 2px solid #174AFF;
    margin-left: 24px;
}