@import '../core/home.css';

@import '../users/perfil.css';

/* USER VIEW */
.boton-rooms-crear{
    margin: 0 auto;
}

.card-boton:hover{
    transform: none;
}

.container-datos{
    padding-bottom: 24px;

}