@import '../core/home.css';

@import '../users/perfil.css';

main{
    min-height: 80vh;
    padding: 24px;
}

/* USER VIEW */
.boton-rooms-crear{
    margin: 0 auto;
    color: white;
    background-color: #754AF6;
    border: 2px solid #754AF6;
}

.card-boton:hover{
    transform: none;
}

.container-datos{
    padding-bottom: 24px;

}

@media screen and (max-width: 900px) {
    main{
        height: 100%;
        padding: 16px;
    }
}