body{
    margin: 0;

}
main {
    padding: 24px;
    background-color: #C7D1D8;

}

.navbar-container{
    background: linear-gradient(to bottom right, #7E9AFF, #BAA3FF);
    margin-bottom: 0px;
}

.navbar-logo{
    max-width: 10%;
    max-height: 10%;

}

.navbar-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.button-search{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #754AF6;
    color: #754AF6;
    font-weight: 600;
}

.button-search:hover{
    background-color: #754AF6;
    color: white;

}

.message-success{
    margin-bottom: 16px;
    background-color: rgb(0, 189, 25) ;
    border-radius: 10px;
    padding: 2px 8px;

}

.message-error{
    margin-bottom: 16px;
    background-color: red;
    border-radius: 10px;
    padding: 2px 8px;



}

.messages{

    list-style-type: none;
    margin-top: 5px;
    margin-left: 8px;

}
.message{

    color: rgb(255, 255, 255);
    font-size: 18px;

}

.message i{
    font-size: 24px;
}

.message-form-container{
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.message-form{
    background-color: #FF6666;
    border: 2px solid #cc3333;
    padding: 8px;
    border-radius: 8px;
}

.card-boton{
    color: white;
    padding: 4px 50px;
    border-radius: 10px;
    transition: transform 0.7s;
}

.card-boton:hover{
    transform: scale(1.12);
}


.footer-container{
    padding: 32px;
    background: linear-gradient(to bottom right, #7E9AFF, #BAA3FF);
    height: 100%;


}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer p, .footer ul{
    margin: auto 0;
}

.footer-container a{
    text-decoration: none;
}

.footer-list-container{
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.footer-list-element i{
    color: black;
}



@media screen and (max-width: 900px) {

    main{
        padding: 16px;
    }

    .card-boton{
        color: white;
        padding: 4px 35px;
        border-radius: 10px;
        transition: transform 0.7s;
    }

    .footer-container{
        padding: 32px;
        background: linear-gradient(to bottom right, #7E9AFF, #BAA3FF);
        height: 100%;
    
    }
    

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto 0;
    }

    .footer p, .footer ul{
        margin: 8px 0px
    }
    .footer-list-container {
        list-style-type: none;
        display: flex;
        padding: 0;

    }

    .navbar-collapse{
        text-align: center;
    }

    .navbar-collapse form{
        width: 70%;
    }

}


/* scrcll chrome */

::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo del scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del scrollbar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del scrollbar al pasar el mouse */
  }
