/* 
main {
    background-color:rgb(114, 76, 76);
} */

.navbar{
    padding: 10px;
}

.navbar-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-success{
    background-color: rgb(0, 189, 25) ;
    margin: 10px;
    border-radius: 10px;
    padding: 8px 8px;

}

.message-error{
    background-color: red;
    margin: 10px;
    border-radius: 10px;
    padding: 2px 8px;



}

.messages{

    list-style-type: none;
    font-size: 18px;
    margin-top: 16px;

}
.message{

    color: rgb(255, 255, 255);
}



.message-form-container{
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.message-form{
    background-color: #FF6666;
    border: 2px solid #cc3333;
    padding: 8px;
    border-radius: 8px;
}

