h1{
    color: red;
}

body {
    background-color:rgb(235, 236, 183);
}

.navbar{
    background-color: rgb(199, 251, 255);
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.message-success{
    background-color: rgb(0, 189, 25) ;
}

.message-error{
    background-color: red;
}

.message{
    color: rgb(255, 255, 255);
}


.registro,
.login{
    max-width: 450px;
    margin: 0 auto;
    background-color: rgb(194, 9, 194);
    padding: 50px;
}


.cont-meet-people{
    background-color: rgb(216, 243, 243);


}

.meet-people-title{
    background-color: rgb(185, 110, 255);
    color: white;

    text-align: center;
    margin-bottom: 10px;
    padding: 5px 2px;
    
}

.meet-people{
    background-color: rgb(185, 110, 255);
    text-align: center;
    padding: 12px 5px;
}

.meet-people-body{
    color: white;
}


.image{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.room-container, .like-rooms-container{
    text-align: center;
    color: white;
}



.room-title, .like-rooms-title{
    background-color: rgb(185, 110, 255);
    margin-bottom: 10px;
    padding: 5px 2px;
    border-radius: 10px;
  
    
}

.room-chat, .like-room{
    background-color: rgb(185, 110, 255);
    padding: 12px 5px;

}

.room-chat{
    padding-bottom: 20px;
    margin-bottom: 50px;

}

.room-search{

}
.mi-perfil{
    background-color: rgb(185, 110, 255);
    max-width: 150px;
}


.data-perfil{
    text-align: center;
}

.cont-mi-perfil{

    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

.cont-mi-perfil-edit{
    background-color: rgb(185, 110, 255);
    max-width: 800px;

    margin: 0 auto;
    border-radius: 10px;
    
}


.mi-perfil-title{
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 7px;
    text-align: center;
    padding-bottom: 7px;
    background-color: rgb(185, 110, 255)
}
.valor-perfil-image{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.form-title{
    text-align: center;
}
.logout-form{
    background-color: rgb(185, 110, 255);
    max-width: 500px;
    margin: 0 auto;
}
.body-form{
    text-align: center;
    padding: 10px;
}

.avatar-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container-edit-perfil{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.foot-like-room{
    background-color: rgba(226, 9, 255, 0.952);
    padding-top: 10px;
}

.room-container-link{
    text-decoration: none;
    color: white;
}

.room-chat-contenedor{
    background-color: rgb(52, 152, 219);

    max-width: 1000px;
    max-height: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.room-chat-body{
    background-color: rgb(214, 234, 248);
    padding: 10px;
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

        
#room-chat-body-container{
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    border-top: rgb(33, 97, 140) solid 10px;
    border-bottom: rgb(33, 97, 140) solid 10px;

}

.message-1{
    text-align: right;
    background-color: white;
    margin-left: 500px;
    padding-left: 500px;
}

.message-2{
    text-align: left;
}

.chat-footer{
    margin-top: 15px;
    padding: 10px;
    max-height: 100px;
}

.send-message{
    max-width: 100%;
}
.boton-send{
    margin-left: 1px;
}

.contenedor-perfil-datos,
.contenedor-perfil-rooms{
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(185, 110, 255);
}

