h1{
    color: red;
}

body {
    background-color:rgb(235, 236, 183);
}

.navbar{
    background-color: rgb(199, 251, 255);
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.message-success{
    background-color: rgb(0, 189, 25) ;
}

.message-error{
    background-color: red;
}

.message{
    color: rgb(255, 255, 255);
}


.registro,
.login{
    max-width: 450px;
    margin: 0 auto;
    background-color: rgb(194, 9, 194);
    padding: 50px;
}


.cont-meet-people{
    background-color: rgb(216, 243, 243);


}

.meet-people-title{
    background-color: rgb(185, 110, 255);
    color: white;

    text-align: center;
    margin-bottom: 10px;
    padding: 5px 2px;
    
}

.meet-people{
    background-color: rgb(185, 110, 255);
    text-align: center;
    padding: 12px 5px;
}

.meet-people-body{
    color: white;
}


.image{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.room-container, .like-rooms-container{
    text-align: center;
    color: white;
}



.room-title, .like-rooms-title{
    background-color: #7E9AFF;
    color: black;
    margin-bottom: 10px;
    padding: 5px 2px;
    border-radius: 10px;
  
    
}

.room-chat-container, .like-room{
    background-color: #7E9AFF;
    padding: 10px 10px;
    border-radius: 5px;

}

.room-chat-card-container{
    display: flex;
    margin-top: 0px;
    margin-bottom: 15px;
}

.room-card-image-container{
    border-radius: 10%;
    max-width: 30%;
    max-height: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    display: flex;
    
}
.room-card-image{
    max-width: 90px;
    max-height: 140px;
    width: auto;
    height: auto;
}

.room-card-content{
    color: black;
    text-align: left;
    margin-left: 8px;
    max-width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;

}

.room-card-title{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    display: inline-block ;
}

.room-card-boton-entrar{

    background-color: #1a53ff;
    color: white;
    padding: 4px 50px;
    border: 2px solid #174AFF;
    border-radius: 10px;
    transition: 0.7s;
    margin-left: 0px;

}


.room-card-boton-entrar:hover{
    border-bottom-right-radius: 0;
    font-size: 18px;
}

.room-card-boton-like{
    background-color: white;
    padding: 4px;
    border: 2px solid #174AFF;
    border-radius: 10px;
    color: #174AFF;
    font-weight: bold;

    transition: 0.7s;
}



.room-card-boton-like:hover{
    font-size: 18px;
}


.room-search{

}
.mi-perfil{
    background-color: rgb(185, 110, 255);
    max-width: 150px;
}


.data-perfil{
    text-align: center;
}

.cont-mi-perfil{

    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

.cont-mi-perfil-edit{
    background-color: rgb(185, 110, 255);
    max-width: 800px;

    margin: 0 auto;
    border-radius: 10px;
    
}


.mi-perfil-title{
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 7px;
    text-align: center;
    padding-bottom: 7px;
    background-color: rgb(185, 110, 255)
}
.valor-perfil-image{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.form-title{
    text-align: center;
}
.logout-form{
    background-color: rgb(185, 110, 255);
    max-width: 500px;
    margin: 0 auto;
}
.body-form{
    text-align: center;
    padding: 10px;
}

.avatar-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container-edit-perfil{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.foot-like-room{
    background-color: rgba(226, 9, 255, 0.952);
    padding-top: 10px;
}

.room-container-link, .room-like-link{
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px;
}

.room-chat-contenedor{
    background-color: #3498db;

    max-width: 1000px;
    max-height: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 30px;
    margin-bottom: 50px;
    border-radius: 20px;
}
        
#room-chat-body-container{
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    border-top: rgb(33, 97, 140) solid 10px;
    border-bottom: rgb(33, 97, 140) solid 10px;

}


.room-chat-body{
    background-color: #d6eaf8;

    padding: 10px;
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}



.container-message{
    max-width: 70%;
    margin: 5px 0px;
    
}

.container-message-1{
    text-align: right;
    margin-left: 30%;
}

.container-message-2{
    text-align: left;
    margin-right: 30%;

}

.message-1{
    background-color: #f0f8ff;
    color: black;
    display: inline-block;
    border: 1px solid #1f65a1;    
    padding: 0px 10px;
    border-radius: 8px;
    border-bottom-right-radius: 0;
}



.message-2{
    background-color: #ff8c8c;
    color: black;
    display: inline-block;
    border: 1px solid #1f65a1;
    padding: 0px 10px;
    border-radius: 8px;
    border-bottom-left-radius: 0;

}



.user-url-message{
    text-decoration: none;
    color: black;
    transition:font-size 0.3s;

}

.user-url-message:hover{
    font-size: 18px;

}

.user-url-host{
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition:font-size 0.5s;
}

.user-url-host:hover{
    font-size: 17px;
    color: black;
}

.chat-footer{
    margin-top: 15px;
    padding: 10px;
    max-height: 100px;
    transition: box-shadow 0.3s, font-size 0.5s;
    border-radius: 5px;

}

.chat-footer:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 18px;
}

.send-message{
    max-width: 100%;

}

.boton-send{
    margin-left: 1px;
}

.contenedor-perfil-datos,
.contenedor-perfil-rooms{
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(185, 110, 255);
}

