h1{
    color: red;
}

body {
    background-color:rgb(235, 236, 183);
}

.navbar{
    background-color: rgb(199, 251, 255);
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.message-success{
    background-color: rgb(0, 189, 25) ;
}

.message-error{
    background-color: red;
}

.message{
    color: rgb(255, 255, 255);
}


.registro,
.login{
    max-width: 450px;
    margin: 0 auto;
    background-color: rgb(194, 9, 194);
    padding: 50px;
}



.columna1{
    background-color: rgb(233, 233, 253);
}

.columna2{
    background-color: aqua;
}

.cont-meet-people{
    background-color: rgb(216, 243, 243);


}

.meet-people-title{
    background-color: rgb(185, 110, 255);
    color: white;

    text-align: center;
    margin-bottom: 10px;
    padding: 5px 2px;
    
}

.meet-people{
    background-color: rgb(185, 110, 255);
    text-align: center;
    padding: 12px 5px;
}


.image{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.room-container{
    text-align: center;
    color: white;
}

.room-title{
    background-color: rgb(185, 110, 255);
    margin-bottom: 10px;
    padding: 5px 2px;
}

.room-chat{
    background-color: rgb(185, 110, 255);
    padding: 12px 5px;


}

.mi-perfil{
    background-color: rgb(185, 110, 255);
    max-width: 150px;
}


.data-perfil{
    text-align: center;
}

.cont-mi-perfil{
    background-color: rgb(185, 110, 255);
    max-width: 500px;
    margin: 0 auto;
}

.valor-perfil-image{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.form-title{
    text-align: center;
}
.logout-form{
    background-color: rgb(185, 110, 255);
    max-width: 500px;
    margin: 0 auto;
}
.body-form{
    text-align: center;
    padding: 10px;
}
