{% extends 'base.html' %}


{% load static %}
{% block title %} Home {% endblock%}

{% block content %}

  <h1>Home</h1>

  {% if user_host %}
    <div>
      <h2>
        
        Bienvenido {{user_host.username}}!
      </h2>
    </div>
  {% endif %}


  <!-- meet people -->

  <div class="container">

    <div class="row">
      <div class="col-4  text-align-center ">
        <div class="meet-people-title">
          <h2>
            Conoce Gente!
          </h2>
        </div>

        <div class="container-sm meet-people">
          {% if data %}
            {% for user in data.users %}
              {% if user.email != user_host.email %}

                <a href="{% url 'user_view' pk=user.id %}" style="text-decoration: none;">
                  <div class="row justify-content-center meet-people-body">
                    <div class="col-4">
                      <img src="{{user.avatar}}" alt="" class="image">
                    </div>       
                    <div class="col-4">
                          {{user.username}}
                    </div>
                  </div>
                </a>

              {% endif %}
         
            {% endfor %}
    
          {% else %}
            <p>No people</p>
          {% endif %}
        </div>
      </div>
        
      
      <div class="col-4">
        <div class="room-container">
          
          <div class="room-title">
            <h2>
              ROOMS/CHATS
            </h2>
          </div>
        
          <div class="room-chat">

            {% if data.rooms %}
              {% for room in data.rooms %}
                <p>{{room.name}}</p>
                <img src="{{room.image}}" alt="image_chat" width="80px" height="80px">
                      
                <div>
                  <p>Host: {{room.user_host.email}} | {{room.likes}} Likes </p>
                </div>

                      
                <div>
                  <a href="{% url 'room-chat' pk=room.id %}" class="room-container-link" >

                    <p>Entrar</p>
                  </a>

                  <button>Like</button>

                </div>
              {% endfor %}

            {% endif %}

          </div>
          
        </div>
      </div>

      <div class="col-4">
        <div class="like-rooms-container">
          <div class="like-rooms-title">
            <h2>Liked Rooms</h2>
          </div>
  
    
          <div class="like-room">

            <div class="foot-like-room">
              <img src="{% static 'media/load/nocountry.jpg' %}" alt="image_chat" width="80px" height="80px">

              <p>chat1</p>
            </div>

  
            
            <div class="row foot-like-room">
                
              <div class="col">
                <p>Host: username | 14 likes</p>
              </div>
             
            </div>
          </div>
        </div>

      </div>
        
    </div>
    
  
      <!-- ROOMS -->
 

{% endblock %}