{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'style/core/Search.css' %}">
{% endblock %}

{% block title %} Buscador {% endblock%}

{% block content %}

    <div class="search-container">

        <div class="container-search-titulo">
            <h2>Busquedas relacionadas: {{data.rooms | length}} </h2>

        </div>

        {% if data %}
        <div class="room-chat-container ">

            {% for room in data.rooms %}
       
              <div class="room-chat-card-container ">
                <div class="room-card-image-container">
                  <img class="room-card-image" src="{{room.image}}" alt="image_chat">
                </div>

                <div class="room-card-content">
                  <p class="room-card-title">{{room.name}}</p>
            
                  <p>{{room.user_host.email}} | {{room.likes}} Likes </p>

                  <a href="{% url 'room-chat' pk=room.id %}" class="room-container-link" >

                    <button class="card-boton room-card-boton-entrar">Entrar</button>
                  </a>

                  <form action="{% url 'room-like' pk=room.id %}" method="POST" class="room-like-link">
                    {% csrf_token %}

                    {% if room in data.all_likedrooms %}
                      <button class="card-boton room-card-boton-like"><i class="bi bi-heart-fill"></i></button>

                    {% else %}
                      <button class="card-boton room-card-boton-like"><i class="bi bi-heart"></i></button>

                    {% endif%}

                  </form>
        
                </div>
              

              </div>
   
            {% endfor %}

     

        </div>
                
        {% endif %}



    </div>



{% endblock %}