{% extends 'base.html' %}

{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'style/users/edit-perfil.css' %}">
{% endblock %}

{% block title %} Mi Perfil/edit {% endblock %}

{% block content %}


    <div class="container-edit-perfil-datos">
        <div class="container-perfil-datos-titulo">
            <h2> Mi Perfil </h2>
        </div>
        
        <div class="container-content-info">

                
         
            <form id="perfil-form" method="POST" enctype="multipart/form-data" class="form-edit">
                {% csrf_token %}
                {% for field in form %}


                    <div class="content-info">
                        <div class="content-key">
            
                            {{field.label}}
                        </div>

                        <div class="content-value">
                            {{field}}
                        </div>

                    </div>
           

                {% endfor %}

                {% if errors_form %}
                    <ul>
                    {% for field, errors in errors_form.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}



            </form>
        
        </div> 

        
        <div class="container-perfil-form-boton">

            <button  id="perfil-form-boton" class="card-boton edit-perfil-boton">
                Aceptar cambios
            </button>
  
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/perfil-forms.js' %}"></script>

{% endblock %}