{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'style/users/registro-login.css' %}">
{% endblock %}

{% block title %} Iniciar Sesión {% endblock %}

{% block content %}

    <section class="login">
        <div class="login-portada">
            <img class="portada" src="{% static 'media/load/diseño-portada-original.png' %}" alt="Portada-registro">
        </div>

        <div class="login-form">
            
            <p class="login-form-titulo">Ingresar</p>

            <form action="" method="post">
                {% csrf_token %}

                {% for field in form %}

                <div class="content-info">
                    <div class="content-key">
        
                        {{field.label}}
                    </div>

                    <div class="content-value">
                        {{field}}
                    </div>

                </div>

                {% endfor %}

                <div class="login-container-boton">
                    <button class="card-boton login-form-boton">Iniciar Sesión</button>

                </div>
                
            </form>

            <div class="redirect">
                <p> ¿No tenés cuenta?</p>
                <a href="{% url 'register' %}">Registrarse</a>
            </div>
        </div>

    </section>

{% endblock %}