{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style/users/logout.css' %}">
{% endblock %}

{% block title %} Cerrar Sesión {% endblock %}

{% block content %}


    <div class="logout-form my-5">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-title">   
                <h2>¿Seguro que querés cerrar sesión?</h2>

            </div>

            <div class="container body-form">
          

                <a class="boton-logout-volver" href="{% url 'home' %}">Volver</a>
                <button class="card-boton boton-logout-cerrarsesion">Logout</button>
      
            </div>
    
     
        </form>
    </div>


{% endblock %}



{% block scripts %}

{{ authenticated_user.email|json_script:"json-authenticated-user" }}   

<script type="module" src="{% static 'js/logout.js' %}"></script>

{% endblock %}