{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'style/users/registro-login.css' %}">
{% endblock %}

{% block title %} Registro {% endblock %}

{% block content %}

    <section class="registro">
        <div class="registro-portada">
            <img class="portada" src="{% static 'media/load/diseño-portada-2.png' %}" alt="Portada-registro">
        </div>

        <div class="registro-form">
            
            <p class="registro-form-titulo">Crear cuenta</p>

            <form action="" method="post">
                {% csrf_token %}

                {% for field in form %}

                <div class="content-info">
                    <div class="content-key">
        
                        {{field.label}}
                    </div>

                    <div class="content-value">
                        {{field}}
                    </div>

                </div>

                {% endfor %}

                <div class="registro-container-boton">
                    <button class="card-boton registro-form-boton">Registrarse</button>

                </div>
                
            </form>

            <div class="redirect">
                <p> ¿Ya sos miembro?</p>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            </div>
        </div>

    </section>
   


{% endblock %}