{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'style/users/registro-login.css' %}">
{% endblock %}

{% block title %} Registro {% endblock %}

{% block content %}

    <section class="registro">
        <div class="registro-portada">
            <img src="{% static 'media/load/nocountry.jpg' %}" alt="">
        </div>

        <div class="registro-form">
            
            <form action="" method="post">
                {% csrf_token %}

                {% for field in form %}

                    <div class="my-1">
                        {{field.label}}
                    </div>

                    <div>
                        {{field}}
                    </div>

                {% endfor %}

                <button class="btn btn-success my-3">Enviar</button>
            </form>
        </div>

    </section>
   


{% endblock %}