{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/rooms/room-chat-create.css' %}">

{% endblock %}

{% block title %} Crear Sala {% endblock %}

{% block content %}


    <div class="container-edit-perfil-datos">

        <div class="container-perfil-datos-titulo">
            <h1>
                Creando Sala
            </h1>
        </div>

        <div class="container-content-info">

            <form id="room-form"  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}

                <div class="content-info">
                    <div class="content-key">
                        {{field.label}}
                    </div>

                    <div class="content-value">
                        {{field}}
                    </div>

                </div>
                {% endfor %}
                
            
            </form>
      
        </div>

        <div class="container-perfil-form-boton">

            <button  id="room-form-boton" class="card-boton edit-perfil-boton">
                Crear room
            </button>
  
        </div>

    </div>



{% endblock %}


{% block scripts %}
<script src="{% static 'js/send-forms.js' %}"></script>

{% endblock %}