{% extends 'base.html' %}


{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'style/rooms/room-chat-edit.css' %}">
{% endblock %}

{% block title %} Editar Sala {% endblock %}

{% block content %}

    <div class="container-edit-perfil-datos">

        <div class="container-perfil-datos-titulo">
            <h1>
                Room: <span class="room-name">{{data.name}}</span> 
            </h1>
        </div>

        <div class="container-content-info">

            <form id="room-form" action="{% url 'room-edit-delete' pk=data.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}

                <div class="content-info">
                    <div class="content-key">
                        {{field.label}}
                    </div>

                    <div class="content-value">
                        {{field}}
                    </div>

                </div>
                {% endfor %}

                <input type="hidden" name="action" value="edit">
                
            
            </form>

            <div class="container-perfil-form-boton">

                <button  id="room-form-boton" class="card-boton edit-perfil-boton">
                    Aceptar cambios
                </button>
      
            </div>

      
        </div>
    </div>


{% endblock %}


{% block scripts %}
<script src="{% static 'js/perfil-forms.js' %}"></script>

{% endblock %}