{% extends 'base.html' %}

{% block title %} Create Room {% endblock %}

{% block content %}

    <div class="room-chat-contenedor">
        <div class="container">

            <div class="room-chat-title">
                <h1>Crear Room</h1>
                <p> {{user_host.email}}</p>

            </div>

            <div class="room-chat-body">

                <div>
                   
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% for field in form %}

                            {% csrf_token %}
    
                            <div class="row">
                                <div class="col-6 data-perfil">
                                    {{field.label}}
                                </div>
    
                                <div class="col-6 valor-perfil">
                                    {{field}}
                                </div>
                            
                            </div>
                            {% endfor %}
                            
                            
                            <div class="container-edit-perfil text">

                                <button class="btn btn-success">
                                    Crear room
                                </button>
              
    
                            </div>
                        </form>
        
                
                </div> 
            
            </div>
        </div>
    </div>
    


{% endblock %}