{% extends 'base.html' %}

{% block title %} Room {% endblock %}

{% block content %}

    <div class="room-chat-contenedor">
        <div class="container">

            <div class="room-chat-title">
                <h1>Room Name</h1>

            </div>

            <div class="room-chat-body">

                <div class="row message-1">
                    <div class="col">
                        <p>Message1</p>
                    </div>

                </div>

                <div class="row message-2">
                    <div class="col">
                        <p>Message2</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    


{% endblock %}