{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'style/rooms/room-chat.css' %}">
{% endblock %}


{% block title %} Salas {% endblock %}

{% block content %}

    <div class="room-chat-contenedor" id="room-chat-contenedor">
        

        <div class="room-chat-title">
            <img class="room-chat-image" src="{{data.room.image}}" alt="">
            <h1 class="room-title">{{data.room.name}}</h1>
            <a class="user-url-host" href="{% url 'user_view' pk=data.room.user_host.id %}"> <p> {{data.room.user_host.email}}</p></a>

        </div>

        <div id="room-chat-body-container">
            <div class="room-chat-body" id="chat-body-room">

                <!-- carga de mensajes -->
                {% for message in data.ms %}
                    {% if message.user.email == authenticated_user.email %}
                        <div class="container-message  container-message-1">
                            <div class="message-1">
                                {{message.content}}
                            </div>
                        </div>
                    {% else %}
                        <div class="container-message container-message-2">

                            <div class="message-2">
                                <a class="user-url-message" href="{% url 'user_view' pk=message.user.id %}">{{message.user.email}}</a>: {{message.content}}
                               
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
        </div>
        

        
        <div class="chat-footer">

            <!-- <form action="" method="POST">
                {% csrf_token %} -->
                <div class="row">
                    <div class="col-11 send-message">
                        <input type="text" placeholder="Enviar mensaje" class="w-100" id="chat-message-input">
                    </div>
    
                    <div class="col-1">
                        <button class="boton-send" id="chat-message-button">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </div>
            <!-- </form> -->



        </div>
   
    </div>


    <div class="room-chat-users-container">
        <div class="room-chat-users-title-container">
            <h2 class="title">Usuarios conectados:</h2>
        </div>

        <div class="room-chat-users-body-container">
            <ul id="user-list" class="room-chat-users-list">
                
            </ul>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script type="application/json" id="json-roomid">
        {{ data.room.id }}   
    </script>

    <script type="module" src="{% static 'js/websocket.js' %}"></script>
{% endblock %}
