{% extends 'base.html' %}

{% block title %} Room Chat {% endblock %}

{% block content %}

    <div class="room-chat-contenedor">
        <div class="container">

            <div class="room-chat-title">
                <h1>{{data.room.name}}</h1>
                <p> {{data.room.user_host.email}}</p>

            </div>

            <div class="room-chat-body">

                <div class="row message-1">
                    <div class="col">
                        <p>Message1</p>
                    </div>

                </div>

                <div class="row message-2">
                    <div class="col">
                        <p>Message2</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    {% block scripts %}

        <script type="applications/json" id="json-roomid">
            {{data.room.id}}   
        </script>

    {% endblock %}
    


{% endblock %}