<!DOCTYPE html>

{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    {% block css %}
    {% endblock %}

    <!-- BOOTSTRAP5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


    <title> {% block title %} {% endblock %} | Django Foro </title>
</head>

<body>

    <header>
                <!-- NAVBAR -->
        {% include 'navbar.html' %}

    </header>

    <main>
        {% include 'core/messages.html' %}
            
        {% block content %}
            <h1>base</h1>


            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{message.tags}}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endblock %}

    </main>

    
    <footer class="footer-container">

        <p>© 2024 ChatWave | Todos los derechos reservados</p>
        <p>
            <a href="#">Política de Privacidad</a> | <a href="#">Términos y Condiciones</a>
        </p>



        <p>Desarrollado por Leonel Rodriguez</p>

    </footer>
    

    <!-- token -->
    {{token|json_script:"json-authenticated-user-token"}}   
       <!-- valor              |  script   :        id     -->
    {{authenticated_user.email|json_script:"json-authenticated-user"}}   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    
    {% block scripts %}
    {% endblock %}  

</body>
</html>