main{
    height: 100%;
    padding: 24px;

}

.home-container{
    display: flex;

}

/* TITULOS */
.title-container{
    background-color: #BAA3FF;
    color: black;
    padding: 5px 0px;
    margin-bottom: 16px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 10px 0px 10px 2px rgba(14, 12, 12, 0.3);
    padding-left: 24px;

}


.room-title, .like-rooms-title{
    background-color: #7E9AFF;
  
}

.title{
    font-weight: 600;
    
}


/* CONOCE GENTE */
.meet-people-container{
    width: 30%;
    height: auto;
    border-radius: 5px;
    /* padding: 5px; */

}

.meet-people-body-container{
    padding: 8px 0px;
    color: black;
    /* background-color: green; */
    max-width: 100%;
    background-color: #BAA3FF;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px rgba(14, 12, 12, 0.3);


}

.meet-people-card{
    display: flex;
    padding: 8px 24px;
}

.meet-card-url{
    text-decoration: none;
    color: black;
    width: 100%;
}
.meet-card-image{
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 2px solid #CB5BFF;
    transition: transform 0.5s;
}

.meet-card-image:hover{
    border: 2px solid #a34acc;
    transform: scale(1.05);

}

.meet-card-username{
    text-align: center;
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;

}

.custom-bi{
    font-size: 12px;

}

.bi-circle-fill{
    color: #00FF00;
}

/* .circle-off{
    color: red;
} */



.meet-card-boton-container{
    display: inline-block;
    /* margin-right: 5%; */
    
}


.meet-card-boton-seguir{
    background-color: #081C63;
    border: 2px solid #081C63;
    transition: transform 0.5s ease;
    margin-top: 22%;
}

.meet-card-boton-seguir:hover{
    transform: scale(1.12);

}


/* SALAS/CHATS */

.container-rooms{
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 10rem;
    justify-content: space-between;
}

.room-container{
    width: 45%;
    
}


.room-chat-card-container{
    border-radius: 5px;

    background-color: #7E9AFF;
    padding: 0px 24px;
    display: flex;
    /* border: 1px solid #174AFF; */
    margin-bottom: 8px;
    box-shadow: 10px 10px 10px 2px rgba(14, 12, 12, 0.3);
    padding-top: 8px;
    padding-bottom: 8px;

}


.room-card-image-container{
    display: flex;
    border-radius: 10%;
    max-width: 30%;
    max-height: 100%;
    margin-top: 8px;
    margin-bottom: 8px;

}

.room-card-image{
    width: 90px;
    height: 110px;
    border-radius: 8px;
} 

.room-card-content{
    color: black;
    text-align: left;
    max-width: 100%;
    margin: 8px 8px;

}

.room-card-title{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    margin: 0;

}


.room-container-link, .room-like-link{
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;
}


.room-card-boton-entrar{

    background-color: #081C63;
    color: white;
    padding: 4px 50px;
    border: 2px solid  #081C63;
    border-radius: 10px;
    transition: transform 0.5s ease;
    margin-bottom: 0px;

}



.room-card-boton-entrar:hover{
    border-bottom-right-radius: 0;
    /* font-size: 20px; */
    transform: scale(1.10);

}

.room-card-boton-like{
    background-color: white;
    padding: 4px;
    border: 2px solid #081C63;
    border-radius: 10px;
    color: #081C63;
    font-weight: bold;

    transition: 0.5s;
}

.bi-heart-fill{
    color: #3A55B1;
    
}


.room-card-boton-like:active{
    color: red;
}

.room-card-boton-like:hover{
    transform: scale(1.2);
}

.page-nums{
    text-align: center;
    text-decoration: none;
    margin-top: 16px;

}

.page-nums a{
    text-decoration: none;
    background-color: white;
    color: #754AF6;
    border: 1px solid #754AF6;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px;
}

.page-nums a:hover{
    background-color: #754AF6;
    color: white;
    border: 1px solid #754AF6;
}

.like-rooms-container {

    width: 45%;
    display: inline-block;


}

@media screen and (max-width: 900px) {

    main{
        height: 100%;
        padding: 32px;
    } 

    .home-container {
        display: flex;
        flex-direction: column; /* Cambia la dirección de los elementos a columna en pantallas pequeñas */
        /* margin: 16px 32px; */
    }

    .meet-people-container{
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-left: 0px;
        margin-bottom: 32px;

  
    }

    .meet-card-url{
        width: 50%;
    }

    .container-rooms{
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    
    .room-container{
        width: 100%;
        margin-bottom: 16px;
        
    }
    .room-chat-card-container{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .like-rooms-container {

        width: 100%;
    
    
    }

    .room-card-image-container{
        display: flex;
        border-radius: 10%;
        max-width: 30%;
        max-height: 100%;
    }
    
    .room-card-image{
        width: 100px;
        height: 110px;
        border-radius: 8px;
    } 
    


    


}

