@import '../core/home.css';

main{
    height: 91vh;
    padding: 24px;

}

.search-container{
    padding: 32px;
}

.container-search-titulo{
    margin-left: 16px;
}

.room-chat-container{
    margin: 20px;

}

.room-chat-card-container{
    display: inline-flex;
    margin: 10px;
    width: 30%;
    margin-left: 30px;
    transition: transform 0.5s, box-shadow 0.7s;
}

.room-chat-card-container:hover{
    transform: scale(1.04);
    box-shadow: 10px 10px 10px 5px rgba(14, 12, 12, 0.3);

}

.room-card-content{
    color: black;
    text-align: left;
    margin-left: 8px;
    max-width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 0px;
}


@media screen and (max-width: 600px) {

    
    .room-container{
        width: 100%;
        margin-bottom: 16px;
        
    }

    .room-chat-container{
        margin: 0px;
    }
    .room-chat-card-container{
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0px;
    }
    
 

    .room-card-image-container{
        display: flex;
        border-radius: 10%;
        max-width: 30%;
        max-height: 100%;
    }
    
    .room-card-image{
        width: 100px;
        height: 110px;
        border-radius: 8px;
    } 
    

}